<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>756</integer>
	<key>capHeight</key>
	<integer>705</integer>
	<key>copyright</key>
	<string>Copyright © 2014 by Carolina Giovagnoli. All rights reserved.</string>
	<key>descender</key>
	<integer>-244</integer>
	<key>description</key>
	<string>Copyright (c) 2012 by Carolina Giovagnoli (huertatipografica.com.ar). All rights reserved.</string>
	<key>familyName</key>
	<string>AndadaDeva HT</string>
	<key>license</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeHeadCreated</key>
	<string>2014/11/10 18:03:26</string>
	<key>openTypeNameDesigner</key>
	<string>Carolina Giovagnoli</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.huertatipografica.com.ar</string>
	<key>openTypeNameManufacturer</key>
	<string>Huerta Tipografica</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.huertatipografica.com.ar</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>AndadaDeva HT</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2Type</key>
	<array>
		<integer>2</integer>
	</array>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-15</integer>
		<integer>0</integer>
		<integer>494</integer>
		<integer>509</integer>
		<integer>536</integer>
		<integer>551</integer>
		<integer>705</integer>
		<integer>720</integer>
		<integer>756</integer>
		<integer>771</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-243</integer>
		<integer>-228</integer>
		<integer>-105</integer>
		<integer>-90</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>100</integer>
		<integer>85</integer>
		<integer>75</integer>
		<integer>88</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>140</integer>
		<integer>159</integer>
		<integer>155</integer>
		<integer>180</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Andada ht Pro is a trademark of Carolina Giovagnoli (huertatipografica.com.ar).</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>2</integer>
	<key>xHeight</key>
	<integer>494</integer>
</dict>
</plist>
