<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Amacron</string>
		<string>Atilde</string>
		<string>A.sc</string>
		<string>Aringacute</string>
		<string>Aringacute.sc</string>
		<string>Atilde.sc</string>
		<string>Aring.sc</string>
		<string>Amacron.sc</string>
		<string>Ahookabove.sc</string>
		<string>Agrave.sc</string>
		<string>Adieresis.sc</string>
		<string>Acircumflextilde.sc</string>
		<string>Acircumflexhookabove.sc</string>
		<string>Acircumflexgrave.sc</string>
		<string>Acircumflexacute.sc</string>
		<string>Abrevetilde.sc</string>
		<string>Abrevehookabove.sc</string>
		<string>Abrevegrave.sc</string>
		<string>Abreveacute.sc</string>
		<string>Aring</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
		<string>B.sc</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cdotaccent</string>
		<string>C.sc</string>
		<string>Cdotaccent.sc</string>
		<string>C.ss01</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Ehookabove</string>
		<string>Emacron</string>
		<string>Etilde</string>
		<string>OE</string>
		<string>E.sc</string>
		<string>OE.sc</string>
		<string>AEacute</string>
		<string>AE.sc</string>
		<string>Etilde.sc</string>
		<string>Emacron.sc</string>
		<string>Ehookabove.sc</string>
		<string>Egrave.sc</string>
		<string>Edotaccent.sc</string>
		<string>Edieresis.sc</string>
		<string>Ecircumflextilde.sc</string>
		<string>Ecircumflexhookabove.sc</string>
		<string>Ecircumflexgrave.sc</string>
		<string>Ecircumflexacute.sc</string>
		<string>Ecaron.sc</string>
		<string>OE.001</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
		<string>F.sc</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>G.sc</string>
		<string>Gdotaccent.sc</string>
		<string>Gcommaaccent.sc</string>
		<string>Gdieresis</string>
		<string>Gtilde</string>
		<string>Gdieresis.sc</string>
		<string>Gtilde.sc</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Ihookabove</string>
		<string>Imacron</string>
		<string>Itilde</string>
		<string>N</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>H.sc</string>
		<string>I.sc</string>
		<string>N.sc</string>
		<string>Ntilde.sc</string>
		<string>Ncommaaccent.sc</string>
		<string>Ncaron.sc</string>
		<string>Itilde.sc</string>
		<string>Imacron.sc</string>
		<string>Ihookabove.sc</string>
		<string>Igrave.sc</string>
		<string>Idotaccent.sc</string>
		<string>Idieresis.sc</string>
		<string>Icaron.sc</string>
		<string>Hbar.sc</string>
		<string>I.ss01</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>IJ</string>
		<string>J</string>
		<string>IJ.sc</string>
		<string>J.sc</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>L.sc</string>
		<string>Lslash.sc</string>
		<string>Ldot.sc</string>
		<string>Lcommaaccent.sc</string>
		<string>Lcaron.sc</string>
		<string>L.ss01</string>
	</array>
	<key>@MMK_L_M</key>
	<array>
		<string>M</string>
		<string>M.sc</string>
		<string>M.ss01</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>Dcroat</string>
		<string>O</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>D.sc</string>
		<string>O.sc</string>
		<string>Oslash.sc</string>
		<string>Q.sc</string>
		<string>Dcroat.sc</string>
		<string>Otilde.sc</string>
		<string>Omacron.sc</string>
		<string>Ohungarumlaut.sc</string>
		<string>Ohorntilde.sc</string>
		<string>Ohornacute.sc</string>
		<string>Ohorn.sc</string>
		<string>Ohookabove.sc</string>
		<string>Ograve.sc</string>
		<string>Odieresis.sc</string>
		<string>Ocircumflextilde.sc</string>
		<string>Ocircumflexhookabove.sc</string>
		<string>Ocircumflexgrave.sc</string>
		<string>Ocircumflexacute.sc</string>
		<string>Ocaron.sc</string>
		<string>Dcaron.sc</string>
		<string>Oogonek</string>
		<string>Oogonek.sc</string>
		<string>D.ss01</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
		<string>Thorn</string>
		<string>P.sc</string>
		<string>Thorn.sc</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>R.sc</string>
		<string>Rcommaaccent.sc</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
		<string>S.sc</string>
		<string>Scommaaccent.sc</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>T.sc</string>
		<string>Tbar.sc</string>
		<string>Tcommaaccent</string>
		<string>T.001</string>
		<string>Tcommaaccent.sc</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Utilde</string>
		<string>U.sc</string>
		<string>Utilde.sc</string>
		<string>Uogonek.sc</string>
		<string>Umacron.sc</string>
		<string>Uhungarumlaut.sc</string>
		<string>Uhorntilde.sc</string>
		<string>Uhorndotbelow.sc</string>
		<string>Uhookabove.sc</string>
		<string>Ugrave.sc</string>
		<string>Udieresismacron.sc</string>
		<string>Udieresisgrave.sc</string>
		<string>Udieresiscaron.sc</string>
		<string>Udieresisacute.sc</string>
		<string>Udieresis.sc</string>
		<string>Uring.sc</string>
		<string>Uring</string>
		<string>Uogonek</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>V.sc</string>
		<string>W.sc</string>
		<string>Wgrave.sc</string>
		<string>Wdieresis.sc</string>
		<string>V.ss01</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>X</string>
		<string>K.sc</string>
		<string>X.sc</string>
		<string>Kcommaaccent.sc</string>
		<string>X.ss01</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
		<string>Y.sc</string>
		<string>Ytilde.sc</string>
		<string>Yhookabove.sc</string>
		<string>Ygrave.sc</string>
		<string>Ydieresis.sc</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Z.sc</string>
		<string>Zdotaccent.sc</string>
	</array>
	<key>@MMK_L_asterisk</key>
	<array>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ring</string>
		<string>tilde</string>
		<string>breveacute</string>
		<string>brevegrave</string>
		<string>macron.cap</string>
		<string>asterisk</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>breveacute.cap</string>
		<string>brevegrave.cap</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>ae</string>
		<string>e</string>
		<string>ecaron</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>emacron</string>
		<string>etilde</string>
		<string>oe</string>
		<string>ebreve</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>bullet</string>
		<string>periodcentered</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ihookabove</string>
		<string>imacron</string>
		<string>itilde</string>
		<string>ibreve</string>
		<string>idotaccent</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>ij</string>
		<string>j</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>l</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>a</string>
		<string>abreveacute</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acircumflexacute</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>atilde</string>
		<string>h</string>
		<string>hbar</string>
		<string>m</string>
		<string>n</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>aringacute</string>
		<string>aring</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
		<string>obreve</string>
		<string>oogonek</string>
	</array>
	<key>@MMK_L_pa-deva</key>
	<array>
		<string>dd_ma-deva</string>
		<string>v_ra-deva</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>dotbelowcomb</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>onedotenleader</string>
		<string>period</string>
		<string>twodotenleader</string>
		<string>underscore</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_questiondown</key>
	<array>
		<string>exclamdown</string>
		<string>questiondown</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>udieresis</string>
		<string>udieresisacute</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>ugrave</string>
		<string>uhookabove</string>
		<string>uhorn</string>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>uhorntilde</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>utilde</string>
		<string>uring</string>
	</array>
	<key>@MMK_L_uni1E9E</key>
	<array>
		<string>germandbls.sc</string>
		<string>Germandbls</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>y</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ytilde</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>x</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>AE</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Amacron</string>
		<string>Atilde</string>
		<string>A.sc</string>
		<string>Aringacute</string>
		<string>AEacute</string>
		<string>AE.sc</string>
		<string>Aringacute.sc</string>
		<string>Atilde.sc</string>
		<string>Aring.sc</string>
		<string>Amacron.sc</string>
		<string>Ahookabove.sc</string>
		<string>Agrave.sc</string>
		<string>Adieresis.sc</string>
		<string>Acircumflextilde.sc</string>
		<string>Acircumflexhookabove.sc</string>
		<string>Acircumflexgrave.sc</string>
		<string>Acircumflexacute.sc</string>
		<string>Abrevetilde.sc</string>
		<string>Abrevehookabove.sc</string>
		<string>Abrevegrave.sc</string>
		<string>Abreveacute.sc</string>
		<string>Aring</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Ehookabove</string>
		<string>Emacron</string>
		<string>Eng</string>
		<string>Etilde</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>IJ</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Ihookabove</string>
		<string>Imacron</string>
		<string>Itilde</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>N</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>R</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Thorn</string>
		<string>B.sc</string>
		<string>D.sc</string>
		<string>E.sc</string>
		<string>F.sc</string>
		<string>H.sc</string>
		<string>I.sc</string>
		<string>IJ.sc</string>
		<string>K.sc</string>
		<string>L.sc</string>
		<string>N.sc</string>
		<string>P.sc</string>
		<string>R.sc</string>
		<string>Thorn.sc</string>
		<string>Eng.sc</string>
		<string>Rcommaaccent.sc</string>
		<string>Ntilde.sc</string>
		<string>Ncommaaccent.sc</string>
		<string>Ncaron.sc</string>
		<string>Lslash.sc</string>
		<string>Ldot.sc</string>
		<string>Lcommaaccent.sc</string>
		<string>Lcaron.sc</string>
		<string>Kcommaaccent.sc</string>
		<string>Itilde.sc</string>
		<string>Imacron.sc</string>
		<string>Ihookabove.sc</string>
		<string>Igrave.sc</string>
		<string>Idotaccent.sc</string>
		<string>Idieresis.sc</string>
		<string>Icaron.sc</string>
		<string>Hbar.sc</string>
		<string>Etilde.sc</string>
		<string>Emacron.sc</string>
		<string>Ehookabove.sc</string>
		<string>Egrave.sc</string>
		<string>Edotaccent.sc</string>
		<string>Edieresis.sc</string>
		<string>Ecircumflextilde.sc</string>
		<string>Ecircumflexhookabove.sc</string>
		<string>Ecircumflexgrave.sc</string>
		<string>Ecircumflexacute.sc</string>
		<string>Ecaron.sc</string>
		<string>Dcaron.sc</string>
		<string>germandbls.sc</string>
		<string>Germandbls</string>
		<string>D.ss01</string>
		<string>I.ss01</string>
		<string>L.ss01</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>J.sc</string>
	</array>
	<key>@MMK_R_M</key>
	<array>
		<string>M</string>
		<string>M.sc</string>
		<string>M.ss01</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>OE</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>C.sc</string>
		<string>G.sc</string>
		<string>O.sc</string>
		<string>OE.sc</string>
		<string>Oslash.sc</string>
		<string>Q.sc</string>
		<string>Otilde.sc</string>
		<string>Omacron.sc</string>
		<string>Ohungarumlaut.sc</string>
		<string>Ohorntilde.sc</string>
		<string>Ohornacute.sc</string>
		<string>Ohorn.sc</string>
		<string>Ohookabove.sc</string>
		<string>Ograve.sc</string>
		<string>Odieresis.sc</string>
		<string>Ocircumflextilde.sc</string>
		<string>Ocircumflexhookabove.sc</string>
		<string>Ocircumflexgrave.sc</string>
		<string>Ocircumflexacute.sc</string>
		<string>Ocaron.sc</string>
		<string>Gdotaccent.sc</string>
		<string>Gcommaaccent.sc</string>
		<string>Cdotaccent.sc</string>
		<string>Oogonek</string>
		<string>Oogonek.sc</string>
		<string>Gdieresis</string>
		<string>Gtilde</string>
		<string>Gdieresis.sc</string>
		<string>Gtilde.sc</string>
		<string>OE.001</string>
		<string>C.ss01</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
		<string>S.sc</string>
		<string>Scommaaccent.sc</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>T.sc</string>
		<string>Tbar.sc</string>
		<string>Tcommaaccent</string>
		<string>T.001</string>
		<string>Tcommaaccent.sc</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Utilde</string>
		<string>U.sc</string>
		<string>Utilde.sc</string>
		<string>Uogonek.sc</string>
		<string>Umacron.sc</string>
		<string>Uhungarumlaut.sc</string>
		<string>Uhorntilde.sc</string>
		<string>Uhorndotbelow.sc</string>
		<string>Uhookabove.sc</string>
		<string>Ugrave.sc</string>
		<string>Udieresismacron.sc</string>
		<string>Udieresisgrave.sc</string>
		<string>Udieresiscaron.sc</string>
		<string>Udieresisacute.sc</string>
		<string>Udieresis.sc</string>
		<string>Uring.sc</string>
		<string>Uring</string>
		<string>Uogonek</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>V.sc</string>
		<string>W.sc</string>
		<string>Wgrave.sc</string>
		<string>Wdieresis.sc</string>
		<string>V.ss01</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
		<string>X.sc</string>
		<string>X.ss01</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
		<string>Y.sc</string>
		<string>Ytilde.sc</string>
		<string>Yhookabove.sc</string>
		<string>Ygrave.sc</string>
		<string>Ydieresis.sc</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Z.sc</string>
		<string>Zdotaccent.sc</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>abreveacute</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acircumflexacute</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>atilde</string>
		<string>aringacute</string>
		<string>aring</string>
	</array>
	<key>@MMK_R_asterisk</key>
	<array>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ring</string>
		<string>tilde</string>
		<string>breveacute</string>
		<string>brevegrave</string>
		<string>macron.cap</string>
		<string>asterisk</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>breveacute.cap</string>
		<string>brevegrave.cap</string>
	</array>
	<key>@MMK_R_dda-deva</key>
	<array>
		<string>dd_ma-deva</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>germandbls</string>
		<string>fi</string>
		<string>fl</string>
		<string>fj</string>
		<string>f.f</string>
		<string>f.t</string>
		<string>f.l</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>hbar</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>thorn</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>bullet</string>
		<string>periodcentered</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>dotlessj</string>
		<string>j</string>
	</array>
	<key>@MMK_R_ka-deva</key>
	<array>
		<string>v_ra-deva</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>i</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ihookabove</string>
		<string>ij</string>
		<string>imacron</string>
		<string>itilde</string>
		<string>m</string>
		<string>n</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>r</string>
		<string>rcommaaccent</string>
		<string>ibreve</string>
		<string>idotaccent</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>ecaron</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>emacron</string>
		<string>eth</string>
		<string>etilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>q</string>
		<string>ebreve</string>
		<string>obreve</string>
		<string>oogonek</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>dotbelowcomb</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>onedotenleader</string>
		<string>period</string>
		<string>twodotenleader</string>
		<string>underscore</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_questiondown</key>
	<array>
		<string>exclamdown</string>
		<string>questiondown</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>y</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ytilde</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
