<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_acute</key>
		<integer>-30</integer>
		<key>@MMK_R_bullet</key>
		<integer>-50</integer>
		<key>@MMK_R_c</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_uniA78C</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_AE</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-10</integer>
		<key>@MMK_R_c</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-10</integer>
		<key>@MMK_R_cedilla</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_M</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_cedilla</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_C</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_c</key>
		<integer>-50</integer>
		<key>@MMK_R_cedilla</key>
		<integer>-120</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_bullet</key>
		<integer>-40</integer>
		<key>@MMK_R_c</key>
		<integer>-50</integer>
		<key>@MMK_R_cedilla</key>
		<integer>-40</integer>
		<key>@MMK_R_i</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-30</integer>
		<key>@MMK_R_bullet</key>
		<integer>-80</integer>
		<key>@MMK_R_c</key>
		<integer>-40</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-40</integer>
		<key>@MMK_R_J</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_c</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_M</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_bullet</key>
		<integer>-40</integer>
		<key>@MMK_R_c</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_M</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_bullet</key>
		<integer>-80</integer>
		<key>@MMK_R_c</key>
		<integer>-50</integer>
		<key>@MMK_R_cedilla</key>
		<integer>-150</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_i</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_bullet</key>
		<integer>-60</integer>
		<key>@MMK_R_c</key>
		<integer>-30</integer>
		<key>@MMK_R_cedilla</key>
		<integer>30</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_c</key>
		<integer>-10</integer>
		<key>@MMK_R_cedilla</key>
		<integer>-30</integer>
		<key>@MMK_R_i</key>
		<integer>-10</integer>
		<key>@MMK_R_p</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_C</key>
		<integer>-30</integer>
		<key>@MMK_R_M</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_bullet</key>
		<integer>-70</integer>
		<key>@MMK_R_c</key>
		<integer>-70</integer>
		<key>@MMK_R_cedilla</key>
		<integer>-70</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_i</key>
		<integer>-50</integer>
		<key>@MMK_R_p</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-60</integer>
		<key>@MMK_R_u</key>
		<integer>-70</integer>
		<key>@MMK_R_v</key>
		<integer>-70</integer>
		<key>@MMK_R_x</key>
		<integer>-60</integer>
		<key>@MMK_R_z</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_cedilla</key>
		<integer>-80</integer>
		<key>@MMK_R_uniA78C</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_C</key>
		<integer>-40</integer>
		<key>@MMK_R_M</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-80</integer>
		<key>@MMK_R_bullet</key>
		<integer>-70</integer>
		<key>@MMK_R_c</key>
		<integer>-80</integer>
		<key>@MMK_R_cedilla</key>
		<integer>-160</integer>
		<key>@MMK_R_g</key>
		<integer>-100</integer>
		<key>@MMK_R_i</key>
		<integer>-80</integer>
		<key>@MMK_R_p</key>
		<integer>-80</integer>
		<key>@MMK_R_s</key>
		<integer>-80</integer>
		<key>@MMK_R_t</key>
		<integer>-80</integer>
		<key>@MMK_R_u</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-70</integer>
		<key>@MMK_R_x</key>
		<integer>-70</integer>
		<key>@MMK_R_z</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_C</key>
		<integer>-60</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-80</integer>
		<key>@MMK_R_bullet</key>
		<integer>-90</integer>
		<key>@MMK_R_c</key>
		<integer>-100</integer>
		<key>@MMK_R_cedilla</key>
		<integer>-140</integer>
		<key>@MMK_R_colon</key>
		<integer>-80</integer>
		<key>@MMK_R_g</key>
		<integer>-80</integer>
		<key>@MMK_R_i</key>
		<integer>-80</integer>
		<key>@MMK_R_j</key>
		<integer>-30</integer>
		<key>@MMK_R_p</key>
		<integer>-80</integer>
		<key>@MMK_R_s</key>
		<integer>-90</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-80</integer>
		<key>@MMK_R_t</key>
		<integer>-90</integer>
		<key>@MMK_R_u</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
		<key>@MMK_R_x</key>
		<integer>-80</integer>
		<key>@MMK_R_z</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_acute</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_ae</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_B</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>-50</integer>
		<key>@MMK_R_M</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_X</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_bullet</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_B</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-40</integer>
		<key>@MMK_R_M</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_X</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_B</key>
		<integer>30</integer>
		<key>@MMK_R_J</key>
		<integer>20</integer>
		<key>@MMK_R_T</key>
		<integer>60</integer>
		<key>@MMK_R_V</key>
		<integer>80</integer>
		<key>@MMK_R_Y</key>
		<integer>80</integer>
		<key>@MMK_R_acute</key>
		<integer>30</integer>
		<key>@MMK_R_exclam</key>
		<integer>70</integer>
		<key>@MMK_R_question</key>
		<integer>70</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_i</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_uniA78C</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_j</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_cedilla</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_bullet</key>
		<integer>-50</integer>
		<key>@MMK_R_c</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_q</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_uniA78C</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_uniA78C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_C</key>
		<integer>10</integer>
		<key>@MMK_R_U</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_B</key>
		<integer>-40</integer>
		<key>@MMK_R_J</key>
		<integer>-40</integer>
		<key>@MMK_R_M</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_X</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_b</key>
		<integer>-20</integer>
		<key>@MMK_R_bullet</key>
		<integer>-30</integer>
		<key>@MMK_R_c</key>
		<integer>-30</integer>
		<key>@MMK_R_cedilla</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>b</key>
		<integer>-30</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>V</key>
		<integer>-80</integer>
		<key>W</key>
		<integer>-80</integer>
		<key>Y</key>
		<integer>-80</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>aacute</key>
		<integer>-20</integer>
		<key>acircumflex</key>
		<integer>-20</integer>
		<key>adieresis</key>
		<integer>-20</integer>
		<key>ae</key>
		<integer>-20</integer>
		<key>agrave</key>
		<integer>-20</integer>
		<key>atilde</key>
		<integer>-20</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>a</key>
		<integer>-30</integer>
		<key>aacute</key>
		<integer>-30</integer>
		<key>acircumflex</key>
		<integer>-30</integer>
		<key>adieresis</key>
		<integer>-30</integer>
		<key>ae</key>
		<integer>-30</integer>
		<key>agrave</key>
		<integer>-30</integer>
		<key>atilde</key>
		<integer>-30</integer>
		<key>c</key>
		<integer>-30</integer>
		<key>ccedilla</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-30</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>eacute</key>
		<integer>-30</integer>
		<key>ecircumflex</key>
		<integer>-30</integer>
		<key>edieresis</key>
		<integer>-30</integer>
		<key>egrave</key>
		<integer>-30</integer>
		<key>eth</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>m</key>
		<integer>-20</integer>
		<key>n</key>
		<integer>-20</integer>
		<key>ntilde</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>oacute</key>
		<integer>-30</integer>
		<key>ocircumflex</key>
		<integer>-30</integer>
		<key>odieresis</key>
		<integer>-30</integer>
		<key>oe</key>
		<integer>-30</integer>
		<key>ograve</key>
		<integer>-30</integer>
		<key>oslash</key>
		<integer>-30</integer>
		<key>otilde</key>
		<integer>-30</integer>
		<key>p</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-30</integer>
		<key>r</key>
		<integer>-20</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>uniA78C</key>
		<integer>-30</integer>
	</dict>
	<key>aacute</key>
	<dict>
		<key>uniA78C</key>
		<integer>-10</integer>
	</dict>
	<key>atilde</key>
	<dict>
		<key>uniA78C</key>
		<integer>-5</integer>
	</dict>
	<key>otilde</key>
	<dict>
		<key>uniA78C</key>
		<integer>0</integer>
	</dict>
	<key>uniA78C</key>
	<dict>
		<key>e</key>
		<integer>0</integer>
		<key>eacute</key>
		<integer>0</integer>
		<key>i</key>
		<integer>5</integer>
		<key>space</key>
		<integer>0</integer>
		<key>u</key>
		<integer>2</integer>
		<key>y</key>
		<integer>10</integer>
		<key>yacute</key>
		<integer>10</integer>
	</dict>
</dict>
</plist>
