<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-30</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>uniA78C</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-120</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_M</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_M</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_M</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-80</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_period</key>
		<integer>-150</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>30</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_p</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_M</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-70</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>@MMK_R_p</key>
		<integer>-50</integer>
		<key>@MMK_R_period</key>
		<integer>-70</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-70</integer>
		<key>@MMK_R_z</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>uniA78C</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_M</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-80</integer>
		<key>@MMK_R_g</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-70</integer>
		<key>@MMK_R_n</key>
		<integer>-80</integer>
		<key>@MMK_R_o</key>
		<integer>-80</integer>
		<key>@MMK_R_p</key>
		<integer>-80</integer>
		<key>@MMK_R_period</key>
		<integer>-160</integer>
		<key>@MMK_R_s</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-70</integer>
		<key>@MMK_R_z</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-80</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_O</key>
		<integer>-60</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-80</integer>
		<key>@MMK_R_g</key>
		<integer>-80</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-90</integer>
		<key>@MMK_R_j</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-80</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_p</key>
		<integer>-80</integer>
		<key>@MMK_R_period</key>
		<integer>-140</integer>
		<key>@MMK_R_s</key>
		<integer>-90</integer>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
		<key>@MMK_R_z</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_asterisk</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>30</integer>
		<key>@MMK_R_J</key>
		<integer>20</integer>
		<key>@MMK_R_T</key>
		<integer>60</integer>
		<key>@MMK_R_V</key>
		<integer>80</integer>
		<key>@MMK_R_Y</key>
		<integer>80</integer>
		<key>@MMK_R_asterisk</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_H</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-40</integer>
		<key>@MMK_R_M</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_X</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_i</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>uniA78C</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_j</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>-50</integer>
		<key>@MMK_R_M</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_X</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>uniA78C</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_questiondown</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>uniA78C</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-40</integer>
		<key>@MMK_R_J</key>
		<integer>-40</integer>
		<key>@MMK_R_M</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_X</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_h</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
	</dict>
	<key>uniA78C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_O</key>
		<integer>10</integer>
		<key>@MMK_R_U</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>space</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
