<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aadeva</key>
	<string>aadeva.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutedeva</key>
	<string>acutedeva.glif</string>
	<key>adeva</key>
	<string>adeva.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>aiMatra_Anusvaradeva</key>
	<string>aiM_atra_A_nusvaradeva.glif</string>
	<key>aivowelsigndeva</key>
	<string>aivowelsigndeva.glif</string>
	<key>aivowelsigndeva_uni0930094D</key>
	<string>aivowelsigndeva_uni0930094D_.glif</string>
	<key>aivowelsigndeva_uni0930094D_anu</key>
	<string>aivowelsigndeva_uni0930094D__anu.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>anudattadeva</key>
	<string>anudattadeva.glif</string>
	<key>anusvaradeva</key>
	<string>anusvaradeva.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>auMatra_reph_anusvaradeva</key>
	<string>auM_atra_reph_anusvaradeva.glif</string>
	<key>auMatra_rephdeva</key>
	<string>auM_atra_rephdeva.glif</string>
	<key>audeva</key>
	<string>audeva.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bhadeva</key>
	<string>bhadeva.glif</string>
	<key>borrar3</key>
	<string>borrar3.glif</string>
	<key>borre</key>
	<string>borre.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cadeva</key>
	<string>cadeva.glif</string>
	<key>candrabindudeva</key>
	<string>candrabindudeva.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>chadeva</key>
	<string>chadeva.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dadeva</key>
	<string>dadeva.glif</string>
	<key>dadeva.small</key>
	<string>dadeva.small.glif</string>
	<key>dadeva_uvowelsigndeva</key>
	<string>dadeva_uvowelsigndeva.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>ddadeva</key>
	<string>ddadeva.glif</string>
	<key>dddhadeva</key>
	<string>dddhadeva.glif</string>
	<key>ddhadeva</key>
	<string>ddhadeva.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dhadeva</key>
	<string>dhadeva.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecandravowelsigndeva</key>
	<string>ecandravowelsigndeva.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edeva</key>
	<string>edeva.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eightdeva</key>
	<string>eightdeva.glif</string>
	<key>eightdeva.loclNEP</key>
	<string>eightdeva.loclN_E_P_.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eshortvowelsigndeva</key>
	<string>eshortvowelsigndeva.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>evowelsigndeva</key>
	<string>evowelsigndeva.glif</string>
	<key>evowelsigndeva_anusvaradeva</key>
	<string>evowelsigndeva_anusvaradeva.glif</string>
	<key>evowelsigndeva_uni0930094D</key>
	<string>evowelsigndeva_uni0930094D_.glif</string>
	<key>evowelsigndeva_uni0930094D_anus</key>
	<string>evowelsigndeva_uni0930094D__anus.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fadeva</key>
	<string>fadeva.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fivedeva</key>
	<string>fivedeva.glif</string>
	<key>fivedeva.loclNEP</key>
	<string>fivedeva.loclN_E_P_.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fourdeva</key>
	<string>fourdeva.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gadeva</key>
	<string>gadeva.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>ghadeva</key>
	<string>ghadeva.glif</string>
	<key>ghhadeva</key>
	<string>ghhadeva.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravedeva</key>
	<string>gravedeva.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hadeva</key>
	<string>hadeva.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>ideva</key>
	<string>ideva.glif</string>
	<key>iiMatra_reph_anusvaradeva</key>
	<string>iiM_atra_reph_anusvaradeva.glif</string>
	<key>iiMatra_rephdeva</key>
	<string>iiM_atra_rephdeva.glif</string>
	<key>iideva</key>
	<string>iideva.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jadeva</key>
	<string>jadeva.glif</string>
	<key>jhadeva</key>
	<string>jhadeva.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kadeva</key>
	<string>kadeva.glif</string>
	<key>khadeva</key>
	<string>khadeva.glif</string>
	<key>khhadeva</key>
	<string>khhadeva.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lladeva</key>
	<string>lladeva.glif</string>
	<key>llladeva</key>
	<string>llladeva.glif</string>
	<key>llvocalicdeva</key>
	<string>llvocalicdeva.glif</string>
	<key>llvocalicvowelsigndeva</key>
	<string>llvocalicvowelsigndeva.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lvocalicdeva</key>
	<string>lvocalicdeva.glif</string>
	<key>lvocalicvowelsigndeva</key>
	<string>lvocalicvowelsigndeva.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>madeva</key>
	<string>madeva.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nadeva</key>
	<string>nadeva.glif</string>
	<key>ngadeva</key>
	<string>ngadeva.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>ninedeva</key>
	<string>ninedeva.glif</string>
	<key>nnadeva</key>
	<string>nnadeva.glif</string>
	<key>nnnadeva</key>
	<string>nnnadeva.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>nuktadeva</key>
	<string>nuktadeva.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>nyadeva</key>
	<string>nyadeva.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oMatra_reph_anusvaradeva</key>
	<string>oM_atra_reph_anusvaradeva.glif</string>
	<key>oMatra_rephdeva</key>
	<string>oM_atra_rephdeva.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocandravowelsigndeva</key>
	<string>ocandravowelsigndeva.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odeva</key>
	<string>odeva.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>onedeva</key>
	<string>onedeva.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oshortdeva</key>
	<string>oshortdeva.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>ovowelsigndeva</key>
	<string>ovowelsigndeva.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>padeva</key>
	<string>padeva.glif</string>
	<key>padeva.small</key>
	<string>padeva.small.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>qadeva</key>
	<string>qadeva.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>radeva</key>
	<string>radeva.glif</string>
	<key>radeva_uvowelsigndeva</key>
	<string>radeva_uvowelsigndeva.glif</string>
	<key>rakardeva</key>
	<string>rakardeva.glif</string>
	<key>rakardeva_uuvowelsigndeva</key>
	<string>rakardeva_uuvowelsigndeva.glif</string>
	<key>rakardeva_uvowelsigndeva</key>
	<string>rakardeva_uvowelsigndeva.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>rhadeva</key>
	<string>rhadeva.glif</string>
	<key>rradeva</key>
	<string>rradeva.glif</string>
	<key>rrvocalicdeva</key>
	<string>rrvocalicdeva.glif</string>
	<key>rrvocalicvowelsigndeva</key>
	<string>rrvocalicvowelsigndeva.glif</string>
	<key>rvocalicdeva</key>
	<string>rvocalicdeva.glif</string>
	<key>rvocalicvowelsigndeva</key>
	<string>rvocalicvowelsigndeva.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sadeva</key>
	<string>sadeva.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>sevendeva</key>
	<string>sevendeva.glif</string>
	<key>shadeva</key>
	<string>shadeva.glif</string>
	<key>shadeva.loclMAR</key>
	<string>shadeva.loclM_A_R_.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>sixdeva</key>
	<string>sixdeva.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>ssadeva</key>
	<string>ssadeva.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tadeva</key>
	<string>tadeva.glif</string>
	<key>thadeva</key>
	<string>thadeva.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threedeva</key>
	<string>threedeva.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>ttadeva</key>
	<string>ttadeva.glif</string>
	<key>tthadeva</key>
	<string>tthadeva.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>twodeva</key>
	<string>twodeva.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udattadeva</key>
	<string>udattadeva.glif</string>
	<key>udeva</key>
	<string>udeva.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni0900</key>
	<string>uni0900.glif</string>
	<key>uni0904</key>
	<string>uni0904.glif</string>
	<key>uni0915094D</key>
	<string>uni0915094D_.glif</string>
	<key>uni0915094D0932</key>
	<string>uni0915094D_0932.glif</string>
	<key>uni0915094D0937094D</key>
	<string>uni0915094D_0937094D_.glif</string>
	<key>uni0915094D_kadeva</key>
	<string>uni0915094D__kadeva.glif</string>
	<key>uni0915094D_radeva</key>
	<string>uni0915094D__radeva.glif</string>
	<key>uni0915094D_radeva.loclNEP</key>
	<string>uni0915094D__radeva.loclN_E_P_.glif</string>
	<key>uni0915094D_ssadeva</key>
	<string>uni0915094D__ssadeva.glif</string>
	<key>uni0915094D_tadeva</key>
	<string>uni0915094D__tadeva.glif</string>
	<key>uni0915094D_vadeva</key>
	<string>uni0915094D__vadeva.glif</string>
	<key>uni0916094D</key>
	<string>uni0916094D_.glif</string>
	<key>uni0916094D_radeva</key>
	<string>uni0916094D__radeva.glif</string>
	<key>uni0917094D</key>
	<string>uni0917094D_.glif</string>
	<key>uni0917094D0932</key>
	<string>uni0917094D_0932.glif</string>
	<key>uni0917094D_nadeva</key>
	<string>uni0917094D__nadeva.glif</string>
	<key>uni0917094D_radeva</key>
	<string>uni0917094D__radeva.glif</string>
	<key>uni0918094D</key>
	<string>uni0918094D_.glif</string>
	<key>uni0918094D0932</key>
	<string>uni0918094D_0932.glif</string>
	<key>uni0918094D_radeva</key>
	<string>uni0918094D__radeva.glif</string>
	<key>uni0919094D</key>
	<string>uni0919094D_.glif</string>
	<key>uni0919094D_gadeva</key>
	<string>uni0919094D__gadeva.glif</string>
	<key>uni0919094D_ghadeva</key>
	<string>uni0919094D__ghadeva.glif</string>
	<key>uni0919094D_kadeva</key>
	<string>uni0919094D__kadeva.glif</string>
	<key>uni0919094D_khadeva</key>
	<string>uni0919094D__khadeva.glif</string>
	<key>uni0919094D_madeva</key>
	<string>uni0919094D__madeva.glif</string>
	<key>uni091A094D</key>
	<string>uni091A_094D_.glif</string>
	<key>uni091A094D0932</key>
	<string>uni091A_094D_0932.glif</string>
	<key>uni091A094D_cadeva</key>
	<string>uni091A_094D__cadeva.glif</string>
	<key>uni091A094D_cadeva.alt</key>
	<string>uni091A_094D__cadeva.alt.glif</string>
	<key>uni091A094D_radeva</key>
	<string>uni091A_094D__radeva.glif</string>
	<key>uni091B094D</key>
	<string>uni091B_094D_.glif</string>
	<key>uni091B094D_vadeva</key>
	<string>uni091B_094D__vadeva.glif</string>
	<key>uni091C094D</key>
	<string>uni091C_094D_.glif</string>
	<key>uni091C094D091E094D</key>
	<string>uni091C_094D_091E_094D_.glif</string>
	<key>uni091C094D_nyadeva</key>
	<string>uni091C_094D__nyadeva.glif</string>
	<key>uni091C094D_radeva</key>
	<string>uni091C_094D__radeva.glif</string>
	<key>uni091D094D</key>
	<string>uni091D_094D_.glif</string>
	<key>uni091D094D_radeva</key>
	<string>uni091D_094D__radeva.glif</string>
	<key>uni091E094D</key>
	<string>uni091E_094D_.glif</string>
	<key>uni091E094D_radeva</key>
	<string>uni091E_094D__radeva.glif</string>
	<key>uni091F094D</key>
	<string>uni091F_094D_.glif</string>
	<key>uni091F094D091F094D</key>
	<string>uni091F_094D_091F_094D_.glif</string>
	<key>uni091F094D091F094D092F</key>
	<string>uni091F_094D_091F_094D_092F_.glif</string>
	<key>uni091F094D092F</key>
	<string>uni091F_094D_092F_.glif</string>
	<key>uni091F094D_ddhadeva</key>
	<string>uni091F_094D__ddhadeva.glif</string>
	<key>uni091F094D_nadeva</key>
	<string>uni091F_094D__nadeva.glif</string>
	<key>uni091F094D_ttadeva</key>
	<string>uni091F_094D__ttadeva.glif</string>
	<key>uni091F094D_tthadeva</key>
	<string>uni091F_094D__tthadeva.glif</string>
	<key>uni091F094D_vadeva</key>
	<string>uni091F_094D__vadeva.glif</string>
	<key>uni0920094D</key>
	<string>uni0920094D_.glif</string>
	<key>uni0920094D0920094D092F</key>
	<string>uni0920094D_0920094D_092F_.glif</string>
	<key>uni0920094D092F</key>
	<string>uni0920094D_092F_.glif</string>
	<key>uni0920094D_nadeva</key>
	<string>uni0920094D__nadeva.glif</string>
	<key>uni0920094D_tthadeva</key>
	<string>uni0920094D__tthadeva.glif</string>
	<key>uni0921094D</key>
	<string>uni0921094D_.glif</string>
	<key>uni0921094D0921094D092F</key>
	<string>uni0921094D_0921094D_092F_.glif</string>
	<key>uni0921094D092F</key>
	<string>uni0921094D_092F_.glif</string>
	<key>uni0921094D_ddadeva</key>
	<string>uni0921094D__ddadeva.glif</string>
	<key>uni0921094D_ddhadeva</key>
	<string>uni0921094D__ddhadeva.glif</string>
	<key>uni0921094D_ghadeva</key>
	<string>uni0921094D__ghadeva.glif</string>
	<key>uni0921094D_madeva</key>
	<string>uni0921094D__madeva.glif</string>
	<key>uni0921094D_nadeva</key>
	<string>uni0921094D__nadeva.glif</string>
	<key>uni0921094D_ttadeva</key>
	<string>uni0921094D__ttadeva.glif</string>
	<key>uni0922094D</key>
	<string>uni0922094D_.glif</string>
	<key>uni0922094D0922094D092F</key>
	<string>uni0922094D_0922094D_092F_.glif</string>
	<key>uni0922094D092F</key>
	<string>uni0922094D_092F_.glif</string>
	<key>uni0922094D_ddhadeva</key>
	<string>uni0922094D__ddhadeva.glif</string>
	<key>uni0922094D_nadeva</key>
	<string>uni0922094D__nadeva.glif</string>
	<key>uni0923094D</key>
	<string>uni0923094D_.glif</string>
	<key>uni0923094D_radeva</key>
	<string>uni0923094D__radeva.glif</string>
	<key>uni0924094D</key>
	<string>uni0924094D_.glif</string>
	<key>uni0924094D0924094D</key>
	<string>uni0924094D_0924094D_.glif</string>
	<key>uni0924094D0930094D</key>
	<string>uni0924094D_0930094D_.glif</string>
	<key>uni0924094D0930094D092F</key>
	<string>uni0924094D_0930094D_092F_.glif</string>
	<key>uni0924094D_radeva</key>
	<string>uni0924094D__radeva.glif</string>
	<key>uni0924094D_radeva.alt</key>
	<string>uni0924094D__radeva.alt.glif</string>
	<key>uni0924094D_tadeva</key>
	<string>uni0924094D__tadeva.glif</string>
	<key>uni0925094D</key>
	<string>uni0925094D_.glif</string>
	<key>uni0925094D_radeva</key>
	<string>uni0925094D__radeva.glif</string>
	<key>uni0926094D</key>
	<string>uni0926094D_.glif</string>
	<key>uni0926094D0917094D_radeva</key>
	<string>uni0926094D_0917094D__radeva.glif</string>
	<key>uni0926094D0926094D092F</key>
	<string>uni0926094D_0926094D_092F_.glif</string>
	<key>uni0926094D0927094D092F</key>
	<string>uni0926094D_0927094D_092F_.glif</string>
	<key>uni0926094D092C</key>
	<string>uni0926094D_092C_.glif</string>
	<key>uni0926094D092C094D_radeva</key>
	<string>uni0926094D_092C_094D__radeva.glif</string>
	<key>uni0926094D092C_uvowelsigndeva</key>
	<string>uni0926094D_092C__uvowelsigndeva.glif</string>
	<key>uni0926094D092D094D092F</key>
	<string>uni0926094D_092D_094D_092F_.glif</string>
	<key>uni0926094D092F</key>
	<string>uni0926094D_092F_.glif</string>
	<key>uni0926094D092F094D</key>
	<string>uni0926094D_092F_094D_.glif</string>
	<key>uni0926094D0930094D092F</key>
	<string>uni0926094D_0930094D_092F_.glif</string>
	<key>uni0926094D0935094D092F</key>
	<string>uni0926094D_0935094D_092F_.glif</string>
	<key>uni0926094D_bhadeva</key>
	<string>uni0926094D__bhadeva.glif</string>
	<key>uni0926094D_bhadeva_uvowelsignd</key>
	<string>uni0926094D__bhadeva_uvowelsignd.glif</string>
	<key>uni0926094D_dadeva</key>
	<string>uni0926094D__dadeva.glif</string>
	<key>uni0926094D_dadeva_uvowelsignde</key>
	<string>uni0926094D__dadeva_uvowelsignde.glif</string>
	<key>uni0926094D_dhadeva</key>
	<string>uni0926094D__dhadeva.glif</string>
	<key>uni0926094D_dhadeva_uvowelsignd</key>
	<string>uni0926094D__dhadeva_uvowelsignd.glif</string>
	<key>uni0926094D_gadeva</key>
	<string>uni0926094D__gadeva.glif</string>
	<key>uni0926094D_gadeva_uvowelsignde</key>
	<string>uni0926094D__gadeva_uvowelsignde.glif</string>
	<key>uni0926094D_ghadeva</key>
	<string>uni0926094D__ghadeva.glif</string>
	<key>uni0926094D_ghadeva_uvowelsignd</key>
	<string>uni0926094D__ghadeva_uvowelsignd.glif</string>
	<key>uni0926094D_madeva</key>
	<string>uni0926094D__madeva.glif</string>
	<key>uni0926094D_nadeva</key>
	<string>uni0926094D__nadeva.glif</string>
	<key>uni0926094D_nadeva_uvowelsignde</key>
	<string>uni0926094D__nadeva_uvowelsignde.glif</string>
	<key>uni0926094D_radeva</key>
	<string>uni0926094D__radeva.glif</string>
	<key>uni0926094D_radeva_uvowelsignde</key>
	<string>uni0926094D__radeva_uvowelsignde.glif</string>
	<key>uni0926094D_rvocalicvowelsignde</key>
	<string>uni0926094D__rvocalicvowelsignde.glif</string>
	<key>uni0926094D_vadeva</key>
	<string>uni0926094D__vadeva.glif</string>
	<key>uni0926094D_vadeva_uvowelsignde</key>
	<string>uni0926094D__vadeva_uvowelsignde.glif</string>
	<key>uni0927094D</key>
	<string>uni0927094D_.glif</string>
	<key>uni0927094D_radeva</key>
	<string>uni0927094D__radeva.glif</string>
	<key>uni0928094D</key>
	<string>uni0928094D_.glif</string>
	<key>uni0928094D_radeva</key>
	<string>uni0928094D__radeva.glif</string>
	<key>uni092A094D</key>
	<string>uni092A_094D_.glif</string>
	<key>uni092A094D0932</key>
	<string>uni092A_094D_0932.glif</string>
	<key>uni092A094D_radeva</key>
	<string>uni092A_094D__radeva.glif</string>
	<key>uni092A094D_tadeva</key>
	<string>uni092A_094D__tadeva.glif</string>
	<key>uni092A094D_ttadeva</key>
	<string>uni092A_094D__ttadeva.glif</string>
	<key>uni092B</key>
	<string>uni092B_.glif</string>
	<key>uni092B094D</key>
	<string>uni092B_094D_.glif</string>
	<key>uni092B094D0932</key>
	<string>uni092B_094D_0932.glif</string>
	<key>uni092B094D_radeva</key>
	<string>uni092B_094D__radeva.glif</string>
	<key>uni092C</key>
	<string>uni092C_.glif</string>
	<key>uni092C094D</key>
	<string>uni092C_094D_.glif</string>
	<key>uni092C094D0932</key>
	<string>uni092C_094D_0932.glif</string>
	<key>uni092C094D_radeva</key>
	<string>uni092C_094D__radeva.glif</string>
	<key>uni092D094D</key>
	<string>uni092D_094D_.glif</string>
	<key>uni092D094D_radeva</key>
	<string>uni092D_094D__radeva.glif</string>
	<key>uni092E094D</key>
	<string>uni092E_094D_.glif</string>
	<key>uni092E094D_radeva</key>
	<string>uni092E_094D__radeva.glif</string>
	<key>uni092F</key>
	<string>uni092F_.glif</string>
	<key>uni092F.conecta</key>
	<string>uni092F_.conecta.glif</string>
	<key>uni092F.small</key>
	<string>uni092F_.small.glif</string>
	<key>uni092F094D</key>
	<string>uni092F_094D_.glif</string>
	<key>uni092F094D_radeva</key>
	<string>uni092F_094D__radeva.glif</string>
	<key>uni0930094D</key>
	<string>uni0930094D_.glif</string>
	<key>uni0930094D_anusvaradeva</key>
	<string>uni0930094D__anusvaradeva.glif</string>
	<key>uni0931094D</key>
	<string>uni0931094D_.glif</string>
	<key>uni0932</key>
	<string>uni0932.glif</string>
	<key>uni0932094D</key>
	<string>uni0932094D_.glif</string>
	<key>uni0932094D0932</key>
	<string>uni0932094D_0932.glif</string>
	<key>uni0932094D_radeva</key>
	<string>uni0932094D__radeva.glif</string>
	<key>uni0933094D</key>
	<string>uni0933094D_.glif</string>
	<key>uni0935094D</key>
	<string>uni0935094D_.glif</string>
	<key>uni0935094D0930094D</key>
	<string>uni0935094D_0930094D_.glif</string>
	<key>uni0935094D_radeva</key>
	<string>uni0935094D__radeva.glif</string>
	<key>uni0936094D</key>
	<string>uni0936094D_.glif</string>
	<key>uni0936094D.loclMAR</key>
	<string>uni0936094D_.loclM_A_R_.glif</string>
	<key>uni0936094D.ss02</key>
	<string>uni0936094D_.ss02.glif</string>
	<key>uni0936094D0932.loclMAR</key>
	<string>uni0936094D_0932.loclM_A_R_.glif</string>
	<key>uni0936094D_radeva</key>
	<string>uni0936094D__radeva.glif</string>
	<key>uni0937094D</key>
	<string>uni0937094D_.glif</string>
	<key>uni0937094D_radeva</key>
	<string>uni0937094D__radeva.glif</string>
	<key>uni0938094D</key>
	<string>uni0938094D_.glif</string>
	<key>uni0938094D_radeva</key>
	<string>uni0938094D__radeva.glif</string>
	<key>uni0939094D</key>
	<string>uni0939094D_.glif</string>
	<key>uni0939094D092F</key>
	<string>uni0939094D_092F_.glif</string>
	<key>uni0939094D0932</key>
	<string>uni0939094D_0932.glif</string>
	<key>uni0939094D_madeva</key>
	<string>uni0939094D__madeva.glif</string>
	<key>uni0939094D_nadeva</key>
	<string>uni0939094D__nadeva.glif</string>
	<key>uni0939094D_radeva</key>
	<string>uni0939094D__radeva.glif</string>
	<key>uni0939094D_vadeva</key>
	<string>uni0939094D__vadeva.glif</string>
	<key>uni093A</key>
	<string>uni093A_.glif</string>
	<key>uni093B</key>
	<string>uni093B_.glif</string>
	<key>uni093E</key>
	<string>uni093E_.glif</string>
	<key>uni093E.001</key>
	<string>uni093E_.001.glif</string>
	<key>uni093F</key>
	<string>uni093F_.glif</string>
	<key>uni093F0930094D</key>
	<string>uni093F_0930094D_.glif</string>
	<key>uni093F0930094D0902</key>
	<string>uni093F_0930094D_0902.glif</string>
	<key>uni0940</key>
	<string>uni0940.glif</string>
	<key>uni094A</key>
	<string>uni094A_.glif</string>
	<key>uni094C</key>
	<string>uni094C_.glif</string>
	<key>uni094E</key>
	<string>uni094E_.glif</string>
	<key>uni094F</key>
	<string>uni094F_.glif</string>
	<key>uni0955</key>
	<string>uni0955.glif</string>
	<key>uni0956</key>
	<string>uni0956.glif</string>
	<key>uni0957</key>
	<string>uni0957.glif</string>
	<key>uni0958094D</key>
	<string>uni0958094D_.glif</string>
	<key>uni0959094D</key>
	<string>uni0959094D_.glif</string>
	<key>uni095A094D</key>
	<string>uni095A_094D_.glif</string>
	<key>uni095B094D</key>
	<string>uni095B_094D_.glif</string>
	<key>uni0973</key>
	<string>uni0973.glif</string>
	<key>uni0974</key>
	<string>uni0974.glif</string>
	<key>uni0975</key>
	<string>uni0975.glif</string>
	<key>uni0976</key>
	<string>uni0976.glif</string>
	<key>uni0977</key>
	<string>uni0977.glif</string>
	<key>uni0979</key>
	<string>uni0979.glif</string>
	<key>uni097A</key>
	<string>uni097A_.glif</string>
	<key>uni097B</key>
	<string>uni097B_.glif</string>
	<key>uni097C</key>
	<string>uni097C_.glif</string>
	<key>uni097E</key>
	<string>uni097E_.glif</string>
	<key>uni097F</key>
	<string>uni097F_.glif</string>
	<key>uniA78B</key>
	<string>uniA_78B_.glif</string>
	<key>uniA78C</key>
	<string>uniA_78C_.glif</string>
	<key>uudeva</key>
	<string>uudeva.glif</string>
	<key>uuvowelsigndeva</key>
	<string>uuvowelsigndeva.glif</string>
	<key>uvowelsigndeva</key>
	<string>uvowelsigndeva.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>vadeva</key>
	<string>vadeva.glif</string>
	<key>viramadeva</key>
	<string>viramadeva.glif</string>
	<key>visargadeva</key>
	<string>visargadeva.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yyadeva</key>
	<string>yyadeva.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zadeva</key>
	<string>zadeva.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zerodeva</key>
	<string>zerodeva.glif</string>
</dict>
</plist>
