<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a-deva</key>
	<string>a-deva.glif</string>
	<key>aShort-deva</key>
	<string>aS_hort-deva.glif</string>
	<key>aa-deva</key>
	<string>aa-deva.glif</string>
	<key>aaMatra-deva</key>
	<string>aaM_atra-deva.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>ai-deva</key>
	<string>ai-deva.glif</string>
	<key>aiMatra-deva</key>
	<string>aiM_atra-deva.glif</string>
	<key>aiMatra_Anusvara-deva</key>
	<string>aiM_atra_A_nusvara-deva.glif</string>
	<key>aiMatra_reph-deva</key>
	<string>aiM_atra_reph-deva.glif</string>
	<key>aiMatra_reph_anusvara-deva</key>
	<string>aiM_atra_reph_anusvara-deva.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>anusvara-deva</key>
	<string>anusvara-deva.glif</string>
	<key>areas</key>
	<string>areas.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asta</key>
	<string>asta.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>au-deva</key>
	<string>au-deva.glif</string>
	<key>auMatra-deva</key>
	<string>auM_atra-deva.glif</string>
	<key>auMatra_reph-deva</key>
	<string>auM_atra_reph-deva.glif</string>
	<key>auMatra_reph_anusvara-deva</key>
	<string>auM_atra_reph_anusvara-deva.glif</string>
	<key>aw-deva</key>
	<string>aw-deva.glif</string>
	<key>awMatra-deva</key>
	<string>awM_atra-deva.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b-deva</key>
	<string>b-deva.glif</string>
	<key>ba-deva</key>
	<string>ba-deva.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bba-deva</key>
	<string>bba-deva.glif</string>
	<key>bh-deva</key>
	<string>bh-deva.glif</string>
	<key>bha-deva</key>
	<string>bha-deva.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c-deva</key>
	<string>c-deva.glif</string>
	<key>ca-deva</key>
	<string>ca-deva.glif</string>
	<key>candraBindu-deva</key>
	<string>candraB_indu-deva.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>ch-deva</key>
	<string>ch-deva.glif</string>
	<key>cha-deva</key>
	<string>cha-deva.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>da-deva</key>
	<string>da-deva.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dd_compo</key>
	<string>dd_compo.glif</string>
	<key>dd_dda-deva</key>
	<string>dd_dda-deva.glif</string>
	<key>dd_ma-deva</key>
	<string>dd_ma-deva.glif</string>
	<key>dda-deva</key>
	<string>dda-deva.glif</string>
	<key>ddha-deva</key>
	<string>ddha-deva.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>devaHeight</key>
	<string>devaH_eight.glif</string>
	<key>devaTecho</key>
	<string>devaT_echo.glif</string>
	<key>dh-deva</key>
	<string>dh-deva.glif</string>
	<key>dha-deva</key>
	<string>dha-deva.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e-deva</key>
	<string>e-deva.glif</string>
	<key>eCandraMatra-deva</key>
	<string>eC_andraM_atra-deva.glif</string>
	<key>eMatra-deva</key>
	<string>eM_atra-deva.glif</string>
	<key>eMatra_anusvara-deva</key>
	<string>eM_atra_anusvara-deva.glif</string>
	<key>eMatra_reph-deva</key>
	<string>eM_atra_reph-deva.glif</string>
	<key>eMatra_reph_anusvara-deva</key>
	<string>eM_atra_reph_anusvara-deva.glif</string>
	<key>eShort-deva</key>
	<string>eS_hort-deva.glif</string>
	<key>eShortMatra-deva</key>
	<string>eS_hortM_atra-deva.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g-deva</key>
	<string>g-deva.glif</string>
	<key>g-espejada</key>
	<string>g-espejada.glif</string>
	<key>ga-deva</key>
	<string>ga-deva.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>gga-deva</key>
	<string>gga-deva.glif</string>
	<key>gh-deva</key>
	<string>gh-deva.glif</string>
	<key>gha-deva</key>
	<string>gha-deva.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h-deva</key>
	<string>h-deva.glif</string>
	<key>h_compo-deva</key>
	<string>h_compo-deva.glif</string>
	<key>h_la-deva</key>
	<string>h_la-deva.glif</string>
	<key>h_na-deva</key>
	<string>h_na-deva.glif</string>
	<key>h_ra-deva</key>
	<string>h_ra-deva.glif</string>
	<key>h_va-deva</key>
	<string>h_va-deva.glif</string>
	<key>ha-deva</key>
	<string>ha-deva.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i-deva</key>
	<string>i-deva.glif</string>
	<key>iMatra-deva</key>
	<string>iM_atra-deva.glif</string>
	<key>iMatra_reph-deva</key>
	<string>iM_atra_reph-deva.glif</string>
	<key>iMatra_reph_anusvara-deva</key>
	<string>iM_atra_reph_anusvara-deva.glif</string>
	<key>ii-deva</key>
	<string>ii-deva.glif</string>
	<key>iiMatra-deva</key>
	<string>iiM_atra-deva.glif</string>
	<key>iiMatra_reph-deva</key>
	<string>iiM_atra_reph-deva.glif</string>
	<key>iiMatra_reph_anusvara-deva</key>
	<string>iiM_atra_reph_anusvara-deva.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j-deva</key>
	<string>j-deva.glif</string>
	<key>ja-deva</key>
	<string>ja-deva.glif</string>
	<key>jh-deva</key>
	<string>jh-deva.glif</string>
	<key>jha-deva</key>
	<string>jha-deva.glif</string>
	<key>jja-deva</key>
	<string>jja-deva.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k-deva</key>
	<string>k-deva.glif</string>
	<key>ka-deva</key>
	<string>ka-deva.glif</string>
	<key>kha-deva</key>
	<string>kha-deva.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l-deva</key>
	<string>l-deva.glif</string>
	<key>lVocalic-deva</key>
	<string>lV_ocalic-deva.glif</string>
	<key>la-deva</key>
	<string>la-deva.glif</string>
	<key>la-deva.loclMAR</key>
	<string>la-deva.loclM_A_R_.glif</string>
	<key>la-deva.mini</key>
	<string>la-deva.mini.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>llVocalic-deva</key>
	<string>llV_ocalic-deva.glif</string>
	<key>lla-deva</key>
	<string>lla-deva.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m-deva</key>
	<string>m-deva.glif</string>
	<key>ma-deva</key>
	<string>ma-deva.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n-deva</key>
	<string>n-deva.glif</string>
	<key>na-deva</key>
	<string>na-deva.glif</string>
	<key>na-deva.mini.01</key>
	<string>na-deva.mini.01.glif</string>
	<key>nga-deva</key>
	<string>nga-deva.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nna-deva</key>
	<string>nna-deva.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>nukta-deva</key>
	<string>nukta-deva.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>ny-deva</key>
	<string>ny-deva.glif</string>
	<key>nya-deva</key>
	<string>nya-deva.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o-deva</key>
	<string>o-deva.glif</string>
	<key>oCandraMatra-deva</key>
	<string>oC_andraM_atra-deva.glif</string>
	<key>oMatra-deva</key>
	<string>oM_atra-deva.glif</string>
	<key>oMatra_reph-deva</key>
	<string>oM_atra_reph-deva.glif</string>
	<key>oMatra_reph_anusvara-deva</key>
	<string>oM_atra_reph_anusvara-deva.glif</string>
	<key>oShort-deva</key>
	<string>oS_hort-deva.glif</string>
	<key>oShortMatra-deva</key>
	<string>oS_hortM_atra-deva.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>oe-deva</key>
	<string>oe-deva.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>ooe-deva</key>
	<string>ooe-deva.glif</string>
	<key>ooeMatra-deva</key>
	<string>ooeM_atra-deva.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p-deva</key>
	<string>p-deva.glif</string>
	<key>pa-deva</key>
	<string>pa-deva.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pha-deva</key>
	<string>pha-deva.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>prishthaMatraE-deva</key>
	<string>prishthaM_atraE_-deva.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>rVocalic-deva</key>
	<string>rV_ocalic-deva.glif</string>
	<key>ra-deva</key>
	<string>ra-deva.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>reph-deva</key>
	<string>reph-deva.glif</string>
	<key>reph_anusvara-deva</key>
	<string>reph_anusvara-deva.glif</string>
	<key>rrVocalic-deva</key>
	<string>rrV_ocalic-deva.glif</string>
	<key>rra-deva</key>
	<string>rra-deva.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s-deva</key>
	<string>s-deva.glif</string>
	<key>sa-deva</key>
	<string>sa-deva.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>sha-deva</key>
	<string>sha-deva.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>ss-deva</key>
	<string>ss-deva.glif</string>
	<key>ssa-deva</key>
	<string>ssa-deva.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>ta-deva</key>
	<string>ta-deva.glif</string>
	<key>tha-deva</key>
	<string>tha-deva.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>tta-deva</key>
	<string>tta-deva.glif</string>
	<key>tth_compo</key>
	<string>tth_compo.glif</string>
	<key>tth_ttha-deva</key>
	<string>tth_ttha-deva.glif</string>
	<key>ttha-deva</key>
	<string>ttha-deva.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u-deva</key>
	<string>u-deva.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ue-deva</key>
	<string>ue-deva.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uniA78B</key>
	<string>uniA_78B_.glif</string>
	<key>uniA78C</key>
	<string>uniA_78C_.glif</string>
	<key>uu-deva</key>
	<string>uu-deva.glif</string>
	<key>uue-deva</key>
	<string>uue-deva.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v-deva</key>
	<string>v-deva.glif</string>
	<key>v_r-deva</key>
	<string>v_r-deva.glif</string>
	<key>v_ra-deva</key>
	<string>v_ra-deva.glif</string>
	<key>va-deva</key>
	<string>va-deva.glif</string>
	<key>va-deva.mini</key>
	<string>va-deva.mini.glif</string>
	<key>visarga-deva</key>
	<string>visarga-deva.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y-deva</key>
	<string>y-deva.glif</string>
	<key>ya-deva</key>
	<string>ya-deva.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
